a {
  color: #43438b;
  &:hover {
    text-decoration: none;
    color: #43438b;
  }
}

h4 {
  margin-bottom: 0;
}

.text-big {
  p {
    font-size: 18px;
    line-height: 32px;
  }
}

p:last-child {
  margin-bottom: 0;
}
