a {
  color: var(--color-text);
  &:hover {
    text-decoration: none;
    color: #43438b;
  }
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h4 {
  margin-bottom: 0;
}

p {
  color: var(--color-text);
}

.text-big {
  p {
    font-size: 18px;
    line-height: 32px;
  }
}

p:last-child {
  margin-bottom: 0;
}
