:root {
  --color-primary: #201e33;
  --color-secondary: #e6e6e6;
  --color-tertiary: #0cc;
  --color-dark: #1d1d1d;
  --color-text: #183d47;
  --color-light: #f9f9f9;
}

$app_background: #f0f8ff;
$grid_gap: 24px;
$anchor_color: #183d47;
$anchor_hover_color: #183d47;
$text_color: #183d47;
$font_primary: "Poppins", sans-serif;
$font_secondary: "Open Sans", sans-serif;
